version: '3.8'

services:
  oracle-db:
    build:
      context: ./oracle-apex
      dockerfile: Dockerfile
    container_name: 23cfree
    ports:
      - "8521:1521"
      - "8500:5500"
      - "8023:8080"
      - "9043:8443"
      - "9922:22"
    environment:
      - ORACLE_PWD=E
    volumes:
      - oracle-data:/opt/oracle/oradata
    restart: unless-stopped
    networks:
      - radius-network
  freeradius:
    build: .
    container_name: freeradius-oracle
    ports:
      - "1812:1812/udp"  # RADIUS authentication
      - "1813:1813/udp"  # RADIUS accounting
    environment:
      - ORACLE_HOST=host.docker.internal
      - ORACLE_PORT=8521
      - ORACLE_USER=system
      - ORACLE_PASSWORD=E
      - ORACLE_SID=freepdb11
    volumes:
      - ./logs:/var/log/freeradius
      - ./certs:/etc/freeradius/3.0/certs
    depends_on:
      - oracle-db
    restart: unless-stopped
    networks:
      - radius-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: freeradius-api
    ports:
      - "3000:3000"        # adjust if your API uses another port
    environment:
      - MIKROTIK_IP=freeradius    # use the service name to reach the freeradius container
      - MIKROTIK_PORT=1812
      - MIKROTIK_USERNAME=sharedsecret
      - MIKROTIK_PASSWORD=PASSWORD
      - UISP_URL=URL
      - UISP_API_TOKEN=TOKEN
    volumes:
      - ./api:/usr/src/app    # optional: mount source for live code changes
      - /var/run/docker.sock:/var/run/docker.sock #mount docker socket to allow api to interact with docker
    depends_on:
      - freeradius
    restart: unless-stopped
    networks:
      - radius-network
networks:
  radius-network:
    driver: bridge
volumes:
  oracle-data: